
		@import url("https://fonts.googleapis.com/css?family=Monoton");
    @import url("https://fonts.googleapis.com/css?family=Roboto");
    * {
      margin:0;
      padding:0;
    }
    body {
      background-color:skyblue;
  
      /* white-space: nowrap; */
    }
    .container {
      font-family: "Roboto";  
      background-color:aliceblue;
      /* position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0;  */
      margin:40px;
    }

    path {
      fill: none;
      stroke: rgba(135, 207, 235, 0.575);
    }

    text {
      text-shadow:
        -1px -1px 3px white,
        -1px 1px 3px white,
        1px -1px 3px white,
        1px 1px 3px white;
      pointer-events: none;
      font-family: 'Playfair Display', serif;
    } 
    div {
      padding:5px;
      margin:5px;
    }
    ul li {
      list-style-type:square;
    }
    /* Title Widgets */
    .smallbox {
      width: 300px;
      height: 300px;
    }
    .box {
      margin: 40px;
      float: left;
      text-align: center;
      border: #969696 solid thin;
      padding: 5px;
    }
    
    /* Data Bar Graphs */
    
    .h-bar {
      min-height: 15px;
      min-width: 10px;
      background-color: steelblue;
      margin-bottom: 2px;
      font-size: 11px;
      color: #f0f8ff;
      text-align: right;
      padding-right: 2px;
    }
    
    .v-bar {
      min-height: 1px;
      min-width: 30px;
      background-color: #4682b4;
      margin-right: 2px;
      font-size: 10px;
      color: #f0f8ff;
      text-align: center;
      width: 10px;
      display: inline-block;
    } 
    #app { 
      max-height:300px;
      
    }
    #dataConvert {
      background-color:aliceblue;
      border:solid 1px orange;
      width:400px;
      height:300px;
      float:left;
      overflow:scroll;

    }
    #dataGetters-fetch {
      background-color:aliceblue;
      border:solid 1px orange;
      /* width:400px; */
      height:400px;
      float:left;
      overflow:scroll;
    }
    
    #dataGetters-promise {
      background-color:aliceblue;
      border:solid 1px orange;
      /* max-width:400px; */
      height:400px;
      float:left;
      overflow:scroll;
    }