<h3>My Model is {{mymodel}}</h3>

<div class="form-horizontal">
  <div class="control-group" style="margin-bottom:4px;">
    <label class="control-label">Label&#8239;:</label>
    <div class="controls">
      <div class="btn-group">
        <label class="radio inline"><input type="radio" ng-model="mymodel" value="-"> All</label>
        <label class="radio inline"><input type="radio" ng-model="mymodel" value="itema"> Option A</label>
        <label class="radio inline"><input type="radio" ng-model="mymodel" value="itemb"> Option B</label>
        <label class="radio inline"><input type="radio" ng-model="mymodel" value="itemc"> Option C</label>
      </div>
    </div>
  </div>
</div>