div#tech {
    box-shadow: 0px 10px 50px 0px rgba(34, 6, 105, 0.8) !important;
}

#thomasm {
    padding: 5px 10px;
}

div.col-lg-3 {
    background-color: #00d9f9;
}

.highlight {
    background-color: #fff;
    border-color: #232fa9;
}

.white {
    color:white;
}
/* general overrides */

.list-group-item.glyphicon {
    line-height: 1.3;
}

li.map2.media.list-group-item.p-4 {
    background-color: blue;
    background-image: $rey;
    padding-top: 0px;
    min-height: 1400px;
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.modal-header .close {
    margin-top: 4px;
}

.alert {
    display: none;
}

/*
  adjusting headline bg color
   */

.bg-primary.app-navbar {
    background-color: rgba(0, 176, 236, 0.5) !important;
}

.tmm {
    opacity: .9;
    width: 230px;
}

img.media-object {
    max-width: 110%;
}

.navbar.navbar-toggleable-sm-fixed-top {
    background-color: #00b0ec !important;
}

.fixed-top {
    opacity: .9;
}

#text {
    display: none;
}

.main {
    max-width: 40%;
    min-width: 40%;
    opacity: .75;
}

#about ul {
    text-align: left;

    & li {
        text-align: left;
    }
}

.media-object.d-flex.aligh-self-start.mr-3 {
    background-image: $bluechip;
    max-width: 30px;
}

/* misc */

#search {
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 10px;
    color: yellow;
    background-color: #0f85d4;
    opacity: .9;
}

/* general overrides */

.modal-header .close {
    margin-top: 4px;
}

div#userModal.modal.fade {
    display: none;
}

/*

  adjusting headline bg color

   */

.bg-primary {
    background-color: #6aa0e6 !important;
    background-color: #00b0ec;
}

/* welcome and text*/

img {
    margin: 5px;
    vertical-align: middle;

    /* profilepic*/

    &.rounded-circle.profile {
        min-height: 90px;
        min-width: 90px;
        max-width: 110px;
    }
}

.card-block {
    padding: 1.0rem;

    &.mb-3 {
        margin-top: 20px;
        color: white;
    }
}

.card-title {
    font-size: 1.2em;
}

div.card.card-link-link {
    min-width: 100%;
}

.card {
    box-shadow: 0px 10px 50px 0px rgba(34, 6, 105, 0.8) !important;

    &.card-link-list#footer {
        & a {
            color: white;

            &:hover {
                color: blue;
            }

            &:active {
                color: #00d5f6;
                background-color: teal;
            }
        }
    }
}

div.card-header {
    background-color: #00b0ec;
    background-image: $rey;
    padding-top: 10px;
    min-height: 230px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
}

div.col-lg-6 {
    background-color: transparent;
}

div.col-lg-3 {
    background: transparent;
}

li.card-menu-item {
    padding: 0px;
    margin: 0px;
    line-height: 90%;
    list-style-type: none;
}


div.card-block {
    &#cal {
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        opacity: .9;
    }

    &#footer {
        min-width: 100%;
        opacity: .8;
        color: white;
        min-width: 100%;
        background-color: #3097D1 !important;
        text-align: center;
        border-radius: 0px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);

        & a {
            color: blue;
        }
    } 

    & img {
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
        border: 0px solid blue;
        background-color: #00b0ec;
        font-weight: 800;
    }
    
    &.text-center a {
        background-color: #00b0ec;
        color: blue;
        background-image: $rey;
    }
    
    &.text-center {
        background-color: #00b0ec;
        background-image: $rey;
        box-shadow: 0px 10px 50px transparent;
        font-weight: 800;
    }
    
    &#right-col {
        min-height: 200px;
    }
    
}

/* SECTION blocks 2, 3 */

///////////////////////

#center-col {
    background-color: #00b0ec;
    background-image: $rey;
    padding-top: 0px;
    min-height: 180px;
    border-radius: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    height: 75%;
}

/*  SECTION misc */

//////////////////////

.app-login-form {
    max-width: 280px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 40%;
    display: inline-block;

    & img {
        width: 100%;
    }
}

/* SECTION visual */

/*SECTION functional addition */

.map {
    max-width: 100%;
}

.rightalign {
    text-align: right;
    color: #59f3ff;
    margin-right: 0px;
    margin-bottom: 5px;
}

/*   TO BE CLASSIFIED !!! */

/////////////////////

.dropdown-toggle * {
    z-index: 1000;
    opacity: 1;
    color: darkblue;
    font-size: 1.1rem;
}

.left {
    text-align: left;
}

#febarchive {
    margin-top: 33px;
}

#bluelogo {
    background-color: rgb(20, 200, 212);
    height: 35px;
    width: 55px;
}

ul.dailytech.archive {
    color: lightskyblue;
}

h3.panel-title.dailytech {
    color: rgba(102, 209, 244, 0.753);
}

img#moonscape {
    max-width: 100%;
}

/* button #toggler .zoom  small-tech SECTION UTILITIES */

///////////////
div.mod-behave button {
    width: 60px;
}

h5 > button {
    font-family: monoton !important;
    cursor: pointer;
    margin: 0px;
    background-color: transparent;
    color: white;
    border: none;
    text-transform: uppercase;
    padding-top: 10px;

    &:hover {
        color: lightblue;
        border: solid .4px silver;
    }
}

#toggler {
    background-color: rgb(0, 176, 236);
    cursor: pointer;
    border: 1px solid yellow;
    padding: 15px;
    text-align: left;

    &:hover {
        border: blue;
    }

    &:visited {
        border: white;
    }
}

.zoom {
    float: right;
    width: 350px;
    max-width: 100%;
    margin-left: 5px;
    transition: transform .8s;

    &:hover {
        max-width: 100%;
        transform: scale(1.5);

        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}

.zoom4 {
    float: left;
    padding: 0px;
    margin: 5px;
    width: 100%;
    max-width: 100%;
    transition: transform 2s;

    &:hover {
        z-index: 111;
        transform: scale(2);

        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}

.imgcol {
    padding: 0px;
    margin: 0px;
}

ul.imgcol {
    max-height: 350px;
    overflow-y: scroll;
}

.twython {
    z-index: 140;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.smalltech {
    font-size: 1.3rem !important;
    color: purple;
}

h2.title {
    color: aliceblue;
}

div.media-body.thesis {
    max-height: 470px;
}

.hover:hover {
    color: rgba(59, 41, 156, 0.603);
}

.container {
    min-height: 1000px;
    background-image: url('img/bluechipTileT8.png') repeat 0;
}

div.panel-heading {
    border: none;
    background-image: url('img/bluechipTileT8.png') repeat 0;
}

.panel-body {
    height: 200px;
    background-color: rgba(118, 77, 168, 0.507);
    background-image: url('img/bluechipTileT8.png') repeat 0;
}

div.panel-body {
    border: none;
    color: white;
}

.panel-title {
    background-color: lightsteelblue;
    background-image: url('img/bluechipTileT8.png') repeat 0;
}

.view {
    border: solid transparent 1px;
}

label {
    color: lightsteelblue;
}

/* main  */

//////////////////////////////////////////////////
#view {
    padding-top: 80px;
}

.card-profile-img {
    border: none;
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    max-height: 75px;
}

div.card.card-profile {
    background-color: #00b0ec;
    background-image: $rey;
    height: 100%;

    &.mb-4 {
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    }
}

div.card.mb-4 {
    height: 100%;
}

p.mb-4 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.mb-4 {
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    color: white;
    border: 0px solid red;
    box-shadow: 0px 10px 50px silver;
    background-color: blue;
    background-image: $rey;
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);

    & a {
        color: blue;
        text-align: center;
    }
}

p.mb4card {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.mb4card {
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    color: white;
    border: 0px solid red;
    box-shadow: 0px 10px 50px silver;
    background-color: rgba(0, 0, 200, 0.5);
    background-image: $rey;
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);

    & a {
        color: blue;
        text-align: center;
    }
}

.opacity5 {
    opacity: .3;
    transform: translateY(-50px);
    margin-bottom: -50px;
}

.green {
    color: green;
}

//ie fitbit blog apr
.side {
    text-align: justify;
    color: darkgreen;
    padding-left: 15px !important;
    margin-left: 15px;
}


.archive {
    list-style-type: none;

    li {
        padding-bottom: 4px;
    }
    
    & button {
        width: 100%;
    }
    
}

.new {
    color: rgb(56, 56, 173);
}

h3, h2, h1, a {
    color: rgb(239, 246, 255);
}

div.col-md-4 > p, h3, h4 {
    min-height: 25px;
}

/* POSTS */
div.row#row-posts {
    overflow: scroll;
}

/* social media icons */
#media li a {
    background-color: transparent;
    opacity: .7;
}

.ourdailytechblog {
    width: 200px;
    max-height: 90px;
    font-size: 1.02em;
    font-family: Monoton;
    background-color: transparent;
    background-image: $dailyIcon;
}

h3#blogs {
    cursor: inherit;
}

#b-header {
    z-index: 1001;
    float: right;
    max-width: 50%;
}

div#planets .form {
    z-index: 2000;
    margin-top: 40px;
}

/* *************** FIREBASE TRACKER */
.hover-delete {
    color: red;
    transform: scale(1.3, 1.3);
}

.pointable {
    cursor: pointer;
}
