#blogs {
    cursor: pointer;
    padding: 0px;
}

.blog {
    float: left;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    border: inset 2px silver;
    background-color: white;
    padding: 0px;
    margin: 0px;

    & h2, h3 {
        text-shadow: 3px 3px 3px #aaa;
        font-size: 1em;
        padding: 3px 4px 3px 4px;
        margin-bottom: 5px;
    }

    & p {
        line-height: 1.2em;
    }
}

.mod-behave {
    text-align: justify;
    padding: 2%;
    margin: 2%;
    max-height: 800px;
    color: darkslategray;
    background-color: rgb(206, 229, 248);
    overflow-y: scroll;
}

.longtitle * {
    margin-top: 20px;
}

.title {
    color: darkblue;
    text-align: center;
    font-size: 105%;
    margin-top: 10px;
}

.featured {
    font-weight: 300;
}

#headerquote {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(212, 229, 250);
    line-height: 1.1rem;
    overflow-y: hidden;

    & > .mb-4 {
        line-height: 2rem;
    }
}

.author {
    font-size: 125%;
    text-align: center;
    color: slategray;
    border-bottom: 1px solid black;
    padding-bottom: 12pt;
    margin-left: 30pt;
    margin-right: 30pt;
}

.chapternumber {
    margin: 4px 0px 8px;
    color: blue;
}

.dailytitle {
    text-align: left;
    color: darkslategray;
    font-family: 'Roboto';
    padding: 3px 0px;
    margin: 5px 0px 5px;
}

h6.dailytitle {
    text-align: center;
    font-weight: 600;

    &.chapternumber {
        margin-bottom: 5px;
        padding-bottom: 10px;
        line-height: 1.2rem;
    }
}

i {
    font-weight: 500;
}

strong {
    font-weight: 700;
}

.chaptertitle {
    margin-left: 30pt;
}

/* Enlarge the first letter of a paragraph 
.fourthp:first-letter {
    font-size: 200%;
    float: left;
    line-height: 1;
  }*/

.firstparagraph::first-letter {
    font-size: 200%;
    font-weight: bold;
    border: solid thin white;
    padding: 4pt;
    margin: 5px 4px 0px 0px;
}

img {
    &.rounded-circle {
        opacity: 1;
    }

    &#tom {
        opacity: 1;
        background-color: white;
    }
}

a.trans-back {
    background-color: blue;
}

.quote {
    margin: 0px 20px 10px 20px;
    line-height: 1.2rem;
    font-weight: 500;
    font-style:italic;
}

.quotelong {
    margin: 0px  0px 10px 20px;
    line-height: 1.2rem;
    font-weight: 500;
}

.footnotes {
    margin-top: 30px;
    text-align: left;
}

.dailytech {
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Monoton';
    font-weight: 100;
    font-size: 1.5rem;
    font-family: 'Monoton';
}

.subdailytech {
    font-family: 'Monoton';
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: center;
    color: darkblue;
    font-family: 'Monoton';
}

#tom {
    opacity: 1;
}

.border {
    border: 1px solid white;
}
