#marsreader  {
  color:lightsteelblue;
  padding:0px;
  text-align:justify;
}
h1,h2,h3,h4,h5,h6 {
  text-align:center;
}
#returnObject {
  color:aliceblue;
  overflow-x:hidden;
  overflow-y:visible;
}
#reqObject { 
  display:none;
}

#apod_explaination {
  max-height: 350px;
  padding: 1%;
  overflow-y: scroll;
  background-color: rgba(4, 142, 196, 0.459);
}