<!DOCTYPE html>
<html lang="en" ng-app="app" xml:lang="en">

<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114267362-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-114267362-1'); 
    </script>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
        content="Technology Blog: Musing Blockchain | Web Dev Affairs | Sociology Tomorrow! Latest Developments in Technology Culture, 
  Technology News, Tech Tools, Tech Talk Too! I explore daily tech topics on one of my three tech
   blog topics: Blockchain, Web Dev, and Sociology in Tech.  DailyTech is both a public blog, as it is my own research tool for both subject content and app design"
        name="description" />
    <meta content="Thomas Maestas, Thomas M Maestas, data analysis and visualization, sociology statistical tests"
        name="keywords" />
    <link rel="manifest" href="/manifest.json">
    <meta content="Thomas M. Maestas" name="author" />
    <title>OUR DAILY TECH</title>
    <!-- <base href="/"> -->
    <link href="dist/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="dist/js/vendor/d3v4.min.js"></script>
    <script src="dist/js/vendor/jquery.2.1.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-global.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>  -->

</head>



<body class="with-top-navbar">
    <div class="container" ng-controller="IndexController">
        <div id="dailyNav">

        </div>
        <!--end dailyNav -->
        <div class="container" id="foreground">
            <!-- /.container -->

            <div class="row">
                <div class="col-md-12" id="view">  
                    <!-- ////////////////////////  col-md-12    VIEW //////////////////// -->



                    <div class="container pt-4">

                        <div class="row">

                        </div>
                        <!-- <div id="module"></div>
                    <script src='dataVisuals/module.js'></script> -->


                        <div class="row">
                            <!-- ////////////////////// 3 ROWS //////////////////////////////////// -->
                            <div class="col-lg-3">
                                <div class="card card-profile">




                                    <div id="planets">

                                        <form class="form">
                                            <br />
                                            <input type="radio" name="reference" id="ref-annulus">
                                            <label for="ref-annulus">Orbit📦 </label>
                                            <br>
                                            <input type="radio" name="reference" id="ref-planet" checked>
                                            <label for="ref-planet">Planets✨</label>
                                            <br>
                                            <input type="radio" name="reference" id="ref-sun">
                                            <label for="ref-sun">Sun</label><span>🔥</span>

                                        </form>


                                    </div>


                                    <button id="mmodalBtn" class="mbutton title   hover" id="b-header">
                                        <h6 class="    subdailytech white hover" title="Social Data &amp; Statistics ">
                                            <a class="cover  ">SOCIOLOGY TOMORROW!</a>
                                        </h6>
                                        <h6 class="            subdailytech white hover">
                                            <a class="cover steel">WEB DEV &nbsp; AFFAIRS &nbsp; 📦 </a>
                                        </h6>
                                        <h6 class=" subdailytech white" title="Machine Learning">
                                            <a class="cover ">A.I.NOW✨</a>
                                        </h6>
                                        <h6 class="subdailytech white hover"
                                            title="About Blockchain Technologies in our Daily Lives">
                                            <a class="cover steel">QUANTUM DATA</a>
                                        </h6>
                                        <h6 class="subdailytech white hover"
                                            title="About Blockchain Technologies in our Daily Lives">
                                            <a class="cover">MUSING BLOCKCHAIN</a>
                                        </h6>
                                        <a class="btn btn-primary"><em>READING MODAL</em></a>
                                    </button>

                                    <div id="map0">
                                        <div class="map0"></div>
                                        <div class="map0"></div>
                                    </div>
                                    <script src="dist/js/planets.js"></script>


                                    <!-- <div class="card-header" ng-class=""> -->

                                    <!-- <div ng-view class="view"></div> -->
                                    <!-- </div> -->


                                </div>
                            </div> 
            <!-- /////////// End of Left Column 3/12 -->



                            <div class="col-lg-6">

                                <!-- Middle-Part A Blog-Modal -->
                                <div id="msimpleModal" class="mmodal">
                                    <div class="mmodal-content">
                                        <span class="mcloseBtn"> &nbsp;&times; &nbsp; </span>
                                        <div class="mmodal-header">

                                        </div>
                                        <div class="mod-behave ">
                                            <div id="top-mod"></div>

                                            <div id="paragraph-mod-may21"></div>
                                            <div id="paragraph-March20-mod"></div>
                                            <div id="paragraph-may19-mod"></div>
                                            <div id="paragraph-march19-mod"></div>
                                            <div id="paragraph-jan19-mod"></div>
                                            <div id="paragraph-dec-mod"></div>
                                            <div id="paragraph-nov-mod"></div>
                                            <div id="paragraph-oct-mod"></div>
                                            <div id="paragraph-sep-mod"></div>
                                            <div id="paragraph-aug-mod"></div>
                                            <div id="paragraph-july-mod"></div>
                                            <div id="paragraph-june-mod"></div>
                                            <div id="paragraph-may-mod"></div>
                                            <div id="paragraph-apr-mod"></div>
                                            <div id="paragraph-mar-mod"></div>
                                            <div id="paragraph-feb-mod"></div>

                                        </div>
                                        <div class="mmodal-footer">
                                            <p>&copy; 2018 All Rights Reserved. &nbsp;|
                                                <a href="http://www.thomasmaestas.net"
                                                    style="color:darkblue;text-decoration:none;">thomasmaestas.net
                                                    &nbsp;|</a>
                                                <a href="mailto:thomas@ourdailytech.com"
                                                    style="color:darkblue;text-decoration:none;">
                                                    thomas@ourdailytech.com &nbsp;|</a>
                                                <a href="http://www.thomasmaestas.net/profile.html#contactme"
                                                    title="Contact Information: thomasmaestas.net">
                                                    Contact Information</a>
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <!-- Middle-Part B Draw-Entry -->

                                
  
  
      
      <!-- // REACT BELOW -->
      <div>
        <pre>
    
          ▂▄▄▓▄▄▂
          ◢◤█▀████▄▄▄▄▄▄◢◤
          █  🦄 █▀▀▀▀▀▀╬
          ◥█████◤
          ══╩══╩═ 
          </pre>
          </div>
        <hr>
    
    <div id="content">
        <h1>Data Creator</h1>
        <br>
        <div>
          <input id="user" type="text" placeholder="type your name"/>
          <span id="instructions"></span>

          <hr>
          <button id="advanceBtn" onclick="start();">
            START</button>
        </div>
        <div id="sketchPadContainer" style="visibility:hidden;"  >X </div>  
        <script src="./util/draw.js">     </script>
      <script src="./sketchPad.js"></script>


   
        <script>
          let index=0;
          const labels=["car","fish","house","tree",
             "bicycle","guitar","pencil","clock"];
  
          const data = {
            user: null,
            session: new Date().getTime(),
            drawings: {}
          };
          const sketchPadContainer = document.querySelector('#sketchPadContainer');
          const sketchPad = new SketchPad(sketchPadContainer);
          function start(){
            console.log(user.value);
              if(user.value==""){
                 alert("Please type your name first!");
                 return;
              }
              data.user=user.value;
              user.style.display="none";
              sketchPadContainer.style.visibility="visible";
              const label=labels[index];
              instructions.innerHTML="Please draw a "+label;
              advanceBtn.innerHTML="NEXT";
              advanceBtn.onclick=next;
           }
           function next(){
              if(sketchPad.paths.length==0){
                 alert("Draw something first!");
                 return;
              }
  
              const label=labels[index];
              data.drawings[label]=sketchPad.paths;
              sketchPad.reset();
              index++;
              if(index<labels.length){
                 const nextLabel=labels[index];
                 instructions.innerHTML="Please draw a "+nextLabel;
              }else{
                 sketchPadContainer.style.visibility="hidden";
                 instructions.innerHTML="Thank you!";
                 advanceBtn.innerHTML="SAVE";
                 advanceBtn.onclick=save;
              }
           }
  
           function save(){
              advanceBtn.style.display='none';
              instructions.innerHTML="Take your downloaded file and place it alongside the others in the dataset!";
  
              const element=document.createElement('a');
              element.setAttribute('href', 
                 'data:text/plain;charset=utf-8,'+
                 encodeURIComponent(JSON.stringify(data))
              );
  
              const fileName=data.session+".json";
              element.setAttribute('download', fileName);
  
              element.style.display='none';
              document.body.appendChild(element);
              element.click();
              document.body.removeChild(element);
           }
        </script> 
      </div>
      <!-- end content -->
  
    

                                <!-- Middle-Part C Blog -->
                                <ul class="list-group media-list media-list-stream mb-4" id="center-col">

                                    <li>
                                        <div id="tech">
                                            <div ng-view class="view"></div>
                                            <div ng-if="$scope.array">

                                                <!-- <div ng-repeat="p in array" class="blogDivMod">
                                                <hr />
                                                <div id="mod_{{p.did}}"></div>
                                                <a href="#top-mod"><button>Top</button></a>
                                                <h4 class="title dailytech longtitle">OUR DAILY TECH:</h4>
                                                <h5 id="cat3" class="  subdailytech">{{p.cat3}}</h5>
                                                <p id="author" class="  author">{{p.author}}</p>
                                                <h6 id="date" class="  chapternumber">{{p.date}}</h6>
                                                <h6 id="title" class="dailytitle chapternumber">{{p.title}}</h6>
                                                <br />
                                                <div id="post">{{p.post}}</div>
                                                <div id="blogcite">{{p.blogcite}}</div>
                                            </div> -->

                                            </div>
                                            <div class="mod-behave ">
                                                <div id="top"></div>

                                                <div id="paragraph-may21"></div>
                                                <div id="paragraph-March20"></div>
                                                <div id="paragraph-may19"></div>
                                                <div id="paragraph-march19"></div>
                                                <div id="paragraph-jan19"></div>
                                                <div id="paragraph-dec"></div>
                                                <div id="paragraph-nov"></div>
                                                <div id="paragraph-oct"></div>
                                                <div id="paragraph-sep"></div>
                                                <div id="paragraph-aug"></div>
                                                <div id="paragraph-july"></div>
                                                <div id="paragraph-june"></div>
                                                <div id="paragraph-may"></div>
                                                <div id="paragraph-apr"></div>
                                                <div id="paragraph-mar"></div>
                                                <div id="paragraph-feb"></div>

                                            </div>
                                            <!-- blog-text.js  BEGINS HERE -->


                                            <div id="febarchive">
                                            </div>
                                        </div>
                                    </li>
                      


                                    <!-- <div id="lambda-posts" class="lambda-posts">
                                    Title {{titleLambda}} endtitle
                                    <div>POSTS-FILTER</div>
                                    <button ng-click="postBlogs()">Button POSTS </button>
                                    <legend> </legend>
                                </div> -->

                                </ul> 
                            </div>
            <!-- /////////// End of Middle Column 6/12 -->
                            
            
            
                        <div class="col-lg-3">
                                <div class="card mb-4 ">
                                    <div class="card-block">

                                        <div id="marsreader" class="marsreader">

                                            <pre id="reqObject"></pre>
                                            <img id="apod_img_id" class="zoom" />

                                            <iframe id="apod_vid_id" type="text/html" width="426" height="262"
                                                frameborder="0"></iframe>

                                            <p id="copyright"></p>
                                            <h6 class="dailytech">Twython NASA API </h6>
                                            <h5 id="apod_title"></h5>
                                            <p id="apod_explaination"></p>
                                            <pre id="returnObject"></pre>

                                        </div>

                                        <div class="media-body thesis">

                                            <div id="message">

                                            </div>

                                        </div>
                                        <div id="force">
                                            <canvas class="canvas" height="700px"></canvas>

                                        </div>

                                        <div id="d-button">


                                            🔥🔥🔥🔥🔥🔥🔥
                                            <button class="btn btn-primary">
                                                <!-- <a href="https://ourdailytech.net/_For_Cat_Eyes_Only_/" target="_blank">
                                                <h6>Fiction Publications:</h6>
                                                <em>For Cat Eyes Only</em> <br />
                                                <em>The Casperian Ancestries</em>
                                            </a> -->
                                            </button> 🔥🔥🔥🔥🔥🔥🔥🔥🔥
                                        </div>
                                        <!--end dbutton-->

                                    </div>
                                </div>


                            </div>
       <!-- /////////// End of Right Column 3/12 -->



                        </div>
                        <!-- end card card-link-list -->

                    </div>

                </div>
                <!-- //// END col-md-qw id VIEW /////////// -->
            </div>

            <div>
                <pre>

        ▂▄▄▓▄▄▂
        ◢◤█▀████▄▄▄▄▄▄◢◤
        █  🦄 █▀▀▀▀▀▀╬
        ◥█████◤
        ══╩══╩═ 
        </pre>
            </div>
        </div>

        <!-- /.container -->

        <div class="card-block" id="footer">

            <p>Copyright &copy; 2018, 2019, 2020 All Rights Reserved. &nbsp; | &nbsp;
                <a href="https://thomasmaestas.net" title="Contact Information: thomasmaestas.net/">
                    thomasmaestas.net
                </a>&nbsp; | &nbsp;
            </p>

        </div>

    </div>
    </div>



    <script src="js/force.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>


    <script src="js/vendor/tether.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- <script src="dist/app.min.js"></script> -->
    <script src="js/app1.bundle.js"></script>
    <script src="js/app2.bundle.js"></script>
    <script src="js/app3.bundle.js"></script>
    <script src="js/app4.bundle.js"></script>
    <script src="js/app5.bundle.js"></script>

    <script src="js/daily-nav.js"></script>



    <script>
        window.app = angular.module('DailyTech', []);



        app.controller('IndexController', function ($q, $scope, $http, IndexController) {

            var vm = this;
            $scope.titleLambda = "AWS Lambda POSTS";

            // AWS Lambda Call to dailytech (thomasm1) endpoint
            $scope.postBlogs = function () {
                console.log("posts hit");
                return $http({
                    method: 'GET',
                    // url: 'https://emfm9dpoeh.execute-api.us-east-1.amazonaws.com/dev/posts',
                    url: 'https://emfm9dpoeh.execute-api.us-east-1.amazonaws.com/PROD/posts',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then(function successCallback(response) {
                    $scope.posts = response.data;
                    console.log($scope.posts);
                }, function errorCallback(response) {
                    console.log($scope.posts);
                });

            };

            $scope.postBlog = function (id) {
                id = 'c208bd6d-fcdb-4a69-aa07-a90ea54f1c47';
                return $http({
                    method: 'GET',
                    url: `https://emfm9dpoeh.execute-api.us-east-1.amazonaws.com/dev/post/${id}?Content-Type=Application/JSON`,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    transformResponse: transformGetBlogs,
                    cache: true
                }).then(function successCallback(response) {
                    $scope.post = response.data;
                    console.log($scope.post);
                }, function errorCallback(response) {
                    console.log($scope.post);
                })
            }

            // console.log($scope.array);

            const okToGreet = function () {
                console.log(name);
                var favoriteName = name;
                return favoriteName;
            };

            vm.favoriteName = $cookies.favoriteName;

            function asyncGreet(name) {
                // perform some asynchronous operation, resolve or reject the promise when appropriate.
                return $q(function (resolve, reject) {
                    setTimeout(function () {
                        if (okToGreet(name)) {
                            resolve('Hello, ' + name + '!');
                        } else {
                            reject('Greeting ' + name + ' is not allowed.');
                        }
                    }, 1000);
                });
            }

            var promise = asyncGreet('Robin Hood');
            promise.then(function (greeting) {
                console.log('Success: ' + greeting);
            }, function (reason) {
                console.log('Failed: ' + reason);
            });

        });
    </script>
    </div>
    <!-- END CONTAINER & IndexController -->

</body>

</html>