@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:Arial;
    background-color: skyblue;
    /* width:800px; */
}
#content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}
#body {
    background-color: rgba(135, 207, 235, 0.575);
    /* white-space: nowrap; */ 
}

path {
    fill: none;
    stroke: rgba(135, 207, 235, 0.575);
}

text {
    text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white, 1px 1px 3px white;
    pointer-events: none;
    font-family: 'Playfair Display', serif;
}
 

li {
    list-style-type: none;
}

footer {
    text-align: center;
    vertical-align: center;
}

img {
    margin: 20px;
}

code span {
    color: darkblue;
    padding-left: 20px;
}

span.hover:hover  {
     color:brown;
     border:solid 1px brown;
}
 

.contain {
    font-family: "Roboto";
    background: rgba(135, 207, 235, 0.575);
    /* width: 90%;
    margin-left:auto;
    margin-right:auto; */
    /* position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0;  */ 
}


/* Title Widgets */

.smallbox {
    width: 300px;
    height: 300px;
}

.box {
    margin: 20px;
    text-align: center;
    border: solid 1px #969696;
    padding: 10px;
}


/* Data Bar Graphs */

.h-bar {
    min-height: 15px;
    min-width: 10px;
    background-color: rgba(70, 131, 180, 0.507);
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4683b479;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}
/* page RXJS */

.portlet-title {
    color: #ffa100;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align:center;
  }
  
  .portlet {
    height: 180px;
    padding-left: 5px;
  }
  
.rxjs {
    /* border:1px solid rgba(124,188,243,.4); */
    border: 1px solid rgba(165, 42, 42, 0.377);
    padding: 2px;  
  }
  
  .analytics {
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    padding-left: 5px;
    background-color:aliceblue;
  }
  
  .analytics p:first-child {
    border: none;
    line-height: normal;
  }
  
  .analytics p {
    margin: 0; 
    padding: 2px;
    line-height: 1.1rem;
  }
  

/* page style */

#app {
    max-height: 300px;
}

.dataConvert {
    font-size: 1rem;
    background-color: aliceblue;
    border: solid 1px orange;
    max-height: 400px;
    max-width: 50%;
    /* min-width: 300px; */
    overflow: scroll; 
}

.dataGetters {
    background-color: aliceblue;
    border: solid 1px orange;
    /* width: 500px; */
    max-width: 50%;
    height: 250px;
    float: left;
    overflow: scroll; 
}

.dataXMLH {
    background-color: aliceblue;
    border: solid 1px orange;
    width: 45%;
    height: 250px;
    float: left;
    overflow: scroll;
}

/* d3 jenks globe */ 
#ckmeans {
    position: absolute;
    top:10px;
    left:5%;
    /* background-color: rgba(135, 207, 235, 0.875); */
}

.btc {
    margin-top : 18px; 
}

.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family: "avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px; 
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}
/* end d3 globe */


/* Calculations Output */
/* #output {
    max-width:200px;
    max-height:400px;
    overflow:scroll;
    position:absolute;
    top:100px;
    left:80%;
} */