<% include partials/header %>

        <H3><%= title %></H3>
         <ul>
            <%= users.forEach(function(user){ %>
                <li><%= user.fname %> 
                    <%= user.lname %>
                </li> 
            <% }) %>
        </ul>
 

  <% include partials/footer %>