<% include partials/header %> 
<h2>Add Contact Information</h2>
       
     
    <% if(errors != undefined){ %>
        <ul>
          <% errors.forEach(function(error){ %>
        <li><%= error.msg %></li>
      <%  }) %> 
      </ul>
     <%  } %> 
    <form method="POST" action="/users/add">
            <label>First Name</label><br>
            <input type = "text" name="fname"><br>
            <label>Last Name</label><br>
            <input type = "text" name="lname"><br>
            <label>Email</label><br>
            <input type = "text" name="email"><br><br>
            <input type = "submit" value="Submit">
    </form>
           <br><H3><%= title %></H3> 
        <ul>
        <% users.forEach(function(user){ %>
        <li><%= user.fname %> <%= user.lname %></li>
      <%  }) %> 
      </ul>
  <% include partials/footer %>