
.imageClass{
    width:100%;
    height:100%;
    max-width: 160px;
    max-height: 160px;
}
.imageContainer{
    min-height: 160px;
}
.vertical-align {
    display: flex;
    align-items: center;
}  
button.btn {
    width:65px;
}
button.btn:first-child {
   margin-left:5px;
}