
.imageClass{
    width:100%;
    height:100%;
    max-width: 160px;
    max-height: 160px;
}
.imageContainer{
    min-height: 180px;
}
.vertical-align {
    display: flex;
    align-items: center;
} 