{{#extend "layout"}}
    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="package"}}
    {{/replace}}
    {{#replace "app_content"}}
        <h2 class="page-title">Light Blue - <span class="fw-semi-bold">Package</span>
            <small>More than 2000 man-hours already invested!</small>
        </h2>
        <p class="lead">You will get access to all those versions listed below after you purchase any Light Blue licence!</p>
        <div class="row mt-lg">
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h4>
                            Pure Ajax Version
                        </h4>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="body">
                        <img class="img-rounded pull-left mb-xs mr-md" src="img/js-logo.svg" width="80" alt="">
                        <h3>HTML Version</h3>
                        <p class="text-muted">During last 4 years we invested more than <span class="fw-semi-bold">1000</span> man-hours
                            crafting and maintaining this version.</p>
                        <p>Basic HTML version is the most generic version of Light Blue App that can be used with any platform starting
                            from PHP and Rails to .NET and Java. It contains pure w3c-validated <strong>HTML5</strong>
                            markup and valid <strong>CSS3</strong> styles. It can work in two modes: (a) as a <strong>Single Page Application</strong>, using
                            ajax to fetch page contents, or (b) as a static application, where pages served directly from server. The mode can be switched by changing
                            the value of &nbsp;<code>window.PJAX_ENABLED</code> global variable.</p>
                        <p>Moreover, this version comes with three different color schemes which you can easily switch based on your choice.</p>
                        <a class="btn btn-link btn-lg btn-block disabled" href="#">(You are here)</a>
                    </div>
                </section>
            </div>
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h4>
                            Angular Version
                        </h4>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="body">
                        <img class="img-rounded pull-left mb-xs mr-md" src="img/angular-logo.svg" width="80" alt="">
                        <h3>Angular 2+ Version</h3>
                        <p class="text-muted">We spent around <span class="fw-semi-bold">500</span> man-hours developing and designing
                            Angular version, to match high engineering requirements.</p>
                        <p><a href="https://angular.io" rel="nofollow" target="_blank">Angular</a> is the most mature and wide spread
                            front-end framework created by Google and used by many established enterprises. It is a very good choice when
                            your expect your application to have a well-engineered structure and development workflow. If you are familiar
                            with Java or .NET ecosystems Angular is definitely your choice.
                        </p>
                        <p>Our app is built on top of latest <strong>Angular 5.0</strong> version and
                            uses <a href="https://webpack.js.org/">Webpack</a> Module Bundler and NPM as a package manager, so everything
                            works out of the box! <br><br></p>
                        <a class="btn btn-transparent btn-lg btn-block" href="../angular">Go to Demo</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row mt-lg">
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h4>
                            React JS Version
                        </h4>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="body">
                        <img class="img-rounded pull-left mb-xs mr-md" src="img/react-logo.svg" width="80" alt="">
                        <h3>React JS Version</h3>
                        <p class="text-muted">We spent another <span class="fw-semi-bold">500</span> man-hours developing and designing
                            React version, to save you time and money.</p>
                        <p><a href="https://reactjs.org/" rel="nofollow" target="_blank">React</a> is the most trendy and advanced
                            component-based JavaScript library for building user interfaces. Our React version follows latest industry
                            best practices and uses <strong>Redux</strong> as a state manager and supports
                            <strong>Server Side Rendering</strong> which makes this app incredibly fast and SEO-friendly.
                        </p>
                        <p>This version is a great choice when you want to be in control of your own codebase and
                            decide on development approaches that are the best for your project.
                            <a href="https://webpack.js.org/">Webpack</a> Module Bundler and Yarn as a package manager are under the hood.</p>
                        <a class="btn btn-transparent btn-lg btn-block" href="https://light-blue.herokuapp.com/">Go to Demo</a>
                    </div>
                </section>
            </div>
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h4>
                            Vue JS Version
                        </h4>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="body">
                        <img class="img-rounded pull-left mb-xs mr-md" src="img/vue-logo.svg" width="80" alt="">
                        <h3>VUE JS Version</h3>
                        <p class="text-muted">Coming soon version. Seed project is <span class="fw-semi-bold">50%</span> ready.</p>
                        <p><a href="https://vuejs.org/" rel="nofollow" target="_blank">Vue</a> is a an open-source progressive
                            JavaScript framework for building user interfaces. Vue is designed to be incrementally adoptable meaning that
                            adding new libraries is made incredibly easy.
                        </p>
                        <p>Creating Vue JS version is a main priority of <a href="https://flatlogic.com">Flatlogic</a> for next months,
                            so seed version will ready really soon! <br><br><br><br><br></p>
                        <a class="btn btn-link btn-lg btn-block disabled" href="#">Coming Soon!</a>
                    </div>
                </section>
            </div>
        </div>
    {{/replace}}

    {{#append "scripts"}}
        <!-- page libs -->

        <!-- page application js -->
        <script src="js/package.js"></script>
    {{/append}}
{{/extend}}