.home {
  text-align: center; }

.home-logo {
  height: 80px; }

.home-header {
  background-color: #222;
  height: 150px;
  padding: 20px; }
  .home-header h2 {
    color: #fff; }

.home-intro {
  font-size: large; }
