@import 'globals';

.home {
  text-align: center;
}

.home-logo { 
  height: 80px;
}

.home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;

  h2 {
    color: $md-white-base;
  }
}

.home-intro {
  font-size: large;
}
 
