{{#extend "layout"}}
    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="special_invoice"}}
    {{/replace}}
    {{#replace "app_content"}}
        <h2 class="page-title">Invoice <small>Print optimized page</small></h2>
        <section class="widget">
            <div class="body no-margin">
                <div class="row">
                    <div class="col-sm-6 col-print-6">
                        <img src="img/logo.png" alt="Logo" class="invoice-logo"/>
                    </div>
                    <div class="col-sm-6 col-print-6">
                        <div class="invoice-number text-align-right">
                            #4346345 / 6 Nov 2014
                        </div>
                        <div class="invoice-number-info text-align-right">
                            Some Invoice number description or whatever
                        </div>
                    </div>
                </div>
                <hr>
                <section class="invoice-info well">
                    <div class="row">
                        <div class="col-sm-6 col-print-6">
                            <h4 class="details-title">Company Information</h4>
                            <h3 class="company-name">
                                Wrapbootstrap LLC
                            </h3>
                            <address>
                                <strong>2 Infinite Loop</strong><br>
                                Minsk, Belarus 220004<br>
                                088.253.5345<br>
                                <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">email@example.com</a><br>
                                <abbr title="Work Phone">phone:</abbr> (012) 345-678-901<br>
                                <abbr title="Work Fax">fax:</abbr> (012) 678-132-901
                            </address>
                        </div>
                        <div class="col-sm-6 col-print-6 client-details">
                            <h4 class="details-title">Client Information</h4>
                            <h3 class="client-name">
                                Veronica Niasvizhskaja
                            </h3>
                            <address>
                                <strong>Consultant</strong> at
                                <strong><a href="#">Allspana</a></strong><br>
                                <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna@allspana.by</a><br>
                                <abbr title="Work Phone">phone:</abbr> (012) 345-678-901<br>
                                <abbr title="Work Fax">fax:</abbr> (012) 678-132-901
                                <div class="separator line"></div>
                                <p class="margin-none"><strong>Note:</strong><br>Some nights I stay up cashing in my bad luck.
                                    Some nights I call it a draw</p>
                            </address>
                        </div>
                    </div>
                </section>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th class="hidden-xs">Description</th>
                        <th>Quantity</th>
                        <th class="hidden-xs">Price per Unit</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Brand-new 27' monitor</td>
                        <td class="hidden-xs">2,560x1,440-pixel (WQHD) resolution supported!</td>
                        <td>2</td>
                        <td class="hidden-xs">700</td>
                        <td>1,400.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Domain: okendoken.com</td>
                        <td class="hidden-xs">6-month registration</td>
                        <td>1</td>
                        <td class="hidden-xs">10.99</td>
                        <td>21.88</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Atlas Shrugged</td>
                        <td class="hidden-xs">Novel by Ayn Rand, first published in 1957 in the United States</td>
                        <td>5</td>
                        <td class="hidden-xs">35</td>
                        <td>175.00</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>New Song by Dr. Pre</td>
                        <td class="hidden-xs">Lyrics: praesent blandit augue non sapien ornare imperdiet</td>
                        <td>1</td>
                        <td class="hidden-xs">2</td>
                        <td>2.00</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-6 col-print-6">
                        <blockquote class="blockquote-sm">
                            <strong>Note:</strong> Keep in mind, sometimes bad things happen. But it's just sometimes.
                        </blockquote>
                    </div>
                    <div class="col-sm-6 col-print-6">
                        <div class="row text-align-right">
                            <div class="col-xs-6"></div> <!-- instead of offset -->
                            <div class="col-xs-3">
                                <p>Subtotal</p>
                                <p>Tax(10%)</p>
                                <p class="no-margin"><strong>Total</strong></p>
                            </div>
                            <div class="col-xs-3">
                                <p>1,598.88</p>
                                <p>159.89</p>
                                <p class="no-margin"><strong>1,758.77</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-align-right mt-lg mb-xs">
                    Marketing Consultant
                </p>
                <p class="text-align-right">
                    <span class="fw-semi-bold">Bob Smith</span>
                </p>
                <div class="btn-toolbar mt-lg text-align-right hidden-print">
                    <button id="print" class="btn btn-default">
                        <i class="fa fa-print"></i>
                        &nbsp;&nbsp;
                        Print
                    </button>
                    <button class="btn btn-danger">
                        Proceed with Payment
                        &nbsp;
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </section>
    {{/replace}}

    {{#append "scripts"}}
        <!-- page specific libs -->

        <!-- page application js -->
    {{/append}}
{{/extend}}