{{#extend "layout"}}
    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="ui_buttons"}}
    {{/replace}}
    {{#replace "app_content"}}
        <h2 class="page-title">Buttons <small>Buttons, states and more</small></h2>
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-star"></i>
                            Default buttons
                            <small>
                                Classes on hover
                            </small>
                        </h4>
                    </header>
                    <div class="body text-align-center">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-default"
                                            data-placement="top" data-original-title=".btn .btn-default">
                                        Default
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-primary"
                                            data-placement="top" data-original-title=".btn .btn-primary">
                                        Primary
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-info"
                                            data-placement="top" data-original-title=".btn .btn-info">
                                        &nbsp;Info&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-success"
                                            data-placement="top" data-original-title=".btn .btn-success">
                                        Success
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-warning"
                                            data-placement="top" data-original-title=".btn .btn-warning">
                                        Warning
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-danger"
                                            data-placement="top" data-original-title=".btn .btn-danger">
                                        Danger
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4 col-sm-offset-4">
                                    <button type="button" class="btn btn-inverse"
                                            data-placement="top" data-original-title=".btn .btn-inverse">
                                        Inverse
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-star"></i>
                            Small ones
                        </h4>
                    </header>
                    <div class="body text-align-center">
                        <div class="well well-sm well-white">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-default btn-sm"
                                            data-placement="top" data-original-title=".btn .btn-default .btn-sm">
                                        Default
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            data-placement="top" data-original-title=".btn .btn-primary .btn-sm">
                                        Primary
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-info btn-sm"
                                            data-placement="top" data-original-title=".btn .btn-info .btn-sm">
                                        &nbsp;Info&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm well-white">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-success btn-sm"
                                            data-placement="top" data-original-title=".btn .btn-success .btn-sm">
                                        Success
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-warning btn-sm"
                                            data-placement="top" data-original-title=".btn .btn-warning .btn-sm">
                                        Warning
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-danger btn-sm"
                                            data-placement="top" data-original-title=".btn .btn-danger .btn-sm">
                                        Danger
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm well-white">
                            <div class="row">
                                <div class="col-xs-4 col-sm-offset-4">
                                    <button type="button" class="btn btn-inverse btn-sm"
                                            data-placement="top" data-original-title=".btn .btn-inverse .btn-sm">
                                        Inverse
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-star"></i>
                            Large ones
                        </h4>
                    </header>
                    <div class="body text-align-center">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-default btn-lg"
                                            data-placement="top" data-original-title=".btn .btn-default .btn-lg">
                                        Default
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-primary btn-lg"
                                            data-placement="top" data-original-title=".btn .btn-primary .btn-lg">
                                        Primary
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-info btn-lg"
                                            data-placement="top" data-original-title=".btn .btn-info .btn-lg">
                                        &nbsp;Info&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-success btn-lg"
                                            data-placement="top" data-original-title=".btn .btn-success .btn-lg">
                                        Success
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-warning btn-lg"
                                            data-placement="top" data-original-title=".btn .btn-warning .btn-lg">
                                        Warning
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-danger btn-lg"
                                            data-placement="top" data-original-title=".btn .btn-danger .btn-lg">
                                        Danger
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-4 col-sm-offset-4">
                                    <button type="button" class="btn btn-inverse btn-lg"
                                            data-placement="top" data-original-title=".btn .btn-inverse .btn-lg">
                                        Inverse
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-cogs"></i>
                            Options
                        </h4>
                    </header>
                    <div class="body">
                        <div class="well well-sm">
                            <blockquote class="blockquote-sm">Disabled state</blockquote>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-12">
                                    <button type="button"
                                            class="btn btn-default"
                                            disabled="disabled">
                                        Default
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary"
                                            disabled="disabled">
                                        Primary
                                    </button>
                                    <button type="button"
                                            class="btn btn-info"
                                            disabled="disabled">
                                        &nbsp; Info &nbsp;
                                    </button>
                                    <button type="button"
                                            class="btn btn-inverse"
                                            disabled="disabled">
                                        Inverse
                                    </button>

                                </div>
                            </div>
                            <div class="row text-align-center">
                                <div class="col-md-12">
                                    <button type="button"
                                            class="btn btn-success"
                                            disabled="disabled">
                                        Success
                                    </button>
                                    <button type="button"
                                            class="btn btn-warning"
                                            disabled="disabled">
                                        Warning
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger"
                                            disabled="disabled">
                                        Danger
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <blockquote class="blockquote-sm">Button groups</blockquote>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">
                                            One
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            Two
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-align-center">
                                <div class="col-md-12">
                                    <button type="button"
                                            class="btn btn-success">
                                        <i class="fa fa-align-left"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-warning">
                                        <i class="fa fa-align-center"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger">
                                        <i class="fa fa-align-right"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <blockquote class="blockquote-sm">Button dropdown menus</blockquote>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            &nbsp; One &nbsp;
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            &nbsp; Two &nbsp;
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                            &nbsp; Three &nbsp;
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <blockquote class="blockquote-sm">Segmented dropdowns</blockquote>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-lg">Gray</button>
                                        <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-inverse">White</button>
                                        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-info btn-sm">Blue</button>
                                        <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-xs">Teal</button>
                                        <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <blockquote class="blockquote-sm">Checkboxes</blockquote>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-12">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="checkbox"> Left way
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox"> Middle way
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox"> Right way
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <blockquote class="blockquote-sm">Radio</blockquote>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-12">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-success">
                                            <input type="radio" name="options" id="option1"> Left way
                                        </label>
                                        <label class="btn btn-success">
                                            <input type="radio" name="options" id="option2"> Middle way
                                        </label>
                                        <label class="btn btn-success active">
                                            <input type="radio" name="options" id="option3"> Right way
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm">
                            <blockquote class="blockquote-sm">Block level buttons</blockquote>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-8 col-md-offset-2">
                                    <button class="btn btn-lg btn-warning btn-block">
                                        Block level
                                    </button>
                                </div>
                            </div>
                            <div class="row margin-bottom text-align-center">
                                <div class="col-md-8 col-md-offset-2">
                                    <button class="btn btn-lg btn-danger btn-block">
                                        Block level
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {{/replace}}

    {{#append "scripts"}}
        <!-- page application js -->
        <script src="js/ui-buttons.js"></script>
    {{/append}}
{{/extend}}