

/*
loading.io/css
*/
.spinner {
    border: 16px solid #337ab7;
    border-top: 16px solid silver;
    border-radius: 50%;
    width:95px;
    height:95px;
    animation: spin 700ms linear infinite;
    position:absolute;
    top: 50%;
    left:50%;
}
@keyframes spin {
    0% {transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
}